/*Set padding to keep content from hitting the edges*/
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
    /*max-width: 280px;*/
}

/*columns of same height styles*/
.container-xs-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
}

.row-xs-height {
    display: table-row;
}

.col-xs-height {
    display: table-cell;
    float: none;
}

@media (min-width: 768px) {
    .container-sm-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
    }

    .row-sm-height {
        display: table-row;
    }

    .col-sm-height {
        display: table-cell;
        float: none;
    }
}

@media (min-width: 992px) {
    .container-md-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
    }

    .row-md-height {
        display: table-row;
    }

    .col-md-height {
        display: table-cell;
        float: none;
    }
}

@media (min-width: 1200px) {
    .container-lg-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
    }

    .row-lg-height {
        display: table-row;
    }

    .col-lg-height {
        display: table-cell;
        float: none;
    }
}

/*Custom Vertical Alignment Styles*/
.col-top {
    vertical-align: top;
}

.col-middle {
    vertical-align: middle;
}

.col-bottom {
    vertical-align: bottom;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    reset the text-align text-align:left;
    inline-block space fix margin-right:-4px;
}

.row-hight {
    line-height: 75px;
}


.fill {
    height: 100%;
}

/*Custom Transparent Container*/
.container-transparent {
    padding: 2%;
    background: rgba(0, 0, 0, .4);
    border: 2px none;
    border-radius: 5px;
    margin-bottom: 2%;
}

/*Loading Animation Styles*/
#floatingCirclesG {
    position: relative;
    width: 128px;
    height: 128px;
    -moz-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -o-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
}

.f_circleG {
    position: absolute;
    background-color: #FFFFFF;
    height: 23px;
    width: 23px;
    -moz-border-radius: 12px;
    -moz-animation-name: f_fadeG;
    -moz-animation-duration: 1.04s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: linear;
    -webkit-border-radius: 12px;
    -webkit-animation-name: f_fadeG;
    -webkit-animation-duration: 1.04s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -o-border-radius: 12px;
    -o-animation-name: f_fadeG;
    -o-animation-duration: 1.04s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: linear;
    -ms-border-radius: 12px;
    -ms-animation-name: f_fadeG;
    -ms-animation-duration: 1.04s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: linear;
    border-radius: 12px;
    animation-name: f_fadeG;
    animation-duration: 1.04s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

#frotateG_01 {
    left: 0;
    top: 52px;
    -moz-animation-delay: 0.39s;
    -webkit-animation-delay: 0.39s;
    -o-animation-delay: 0.39s;
    -ms-animation-delay: 0.39s;
    animation-delay: 0.39s;
}

#frotateG_02 {
    left: 15px;
    top: 15px;
    -moz-animation-delay: 0.52s;
    -webkit-animation-delay: 0.52s;
    -o-animation-delay: 0.52s;
    -ms-animation-delay: 0.52s;
    animation-delay: 0.52s;
}

#frotateG_03 {
    left: 52px;
    top: 0;
    -moz-animation-delay: 0.65s;
    -webkit-animation-delay: 0.65s;
    -o-animation-delay: 0.65s;
    -ms-animation-delay: 0.65s;
    animation-delay: 0.65s;
}

#frotateG_04 {
    right: 15px;
    top: 15px;
    -moz-animation-delay: 0.78s;
    -webkit-animation-delay: 0.78s;
    -o-animation-delay: 0.78s;
    -ms-animation-delay: 0.78s;
    animation-delay: 0.78s;
}

#frotateG_05 {
    right: 0;
    top: 52px;
    -moz-animation-delay: 0.91s;
    -webkit-animation-delay: 0.91s;
    -o-animation-delay: 0.91s;
    -ms-animation-delay: 0.91s;
    animation-delay: 0.91s;
}

#frotateG_06 {
    right: 15px;
    bottom: 15px;
    -moz-animation-delay: 1.04s;
    -webkit-animation-delay: 1.04s;
    -o-animation-delay: 1.04s;
    -ms-animation-delay: 1.04s;
    animation-delay: 1.04s;
}

#frotateG_07 {
    left: 52px;
    bottom: 0;
    -moz-animation-delay: 1.17s;
    -webkit-animation-delay: 1.17s;
    -o-animation-delay: 1.17s;
    -ms-animation-delay: 1.17s;
    animation-delay: 1.17s;
}

#frotateG_08 {
    left: 15px;
    bottom: 15px;
    -moz-animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
    -o-animation-delay: 1.3s;
    -ms-animation-delay: 1.3s;
    animation-delay: 1.3s;
}

@-moz-keyframes f_fadeG {
    0% {
        background-color: #8501bc;
    }

    100% {
        background-color: #FFFFFF;
    }
}

@-webkit-keyframes f_fadeG {
    0% {
        background-color: #8501bc;
    }

    100% {
        background-color: #FFFFFF;
    }
}

@-o-keyframes f_fadeG {
    0% {
        background-color: #8501bc;
    }

    100% {
        background-color: #FFFFFF;
    }
}

@-ms-keyframes f_fadeG {
    0% {
        background-color: #8501bc;
    }

    100% {
        background-color: #FFFFFF;
    }
}

@keyframes f_fadeG {
    0% {
        background-color: #8501bc;
    }

    100% {
        background-color: #FFFFFF;
    }
}

/*Customized Jumbotron Container*/
.custom-jumbotron {
    padding: 20px 15px 0 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    color: inherit;
    background-color: #ffffff;
}

    .custom-jumbotron h1,
    .custom-jumbotron .h1 {
        color: inherit;
    }

    .custom-jumbotron p {
        margin-bottom: 15px;
        font-size: 21px;
        font-weight: 200;
    }

    .custom-jumbotron > hr {
        border-top-color: #d5d5d5;
    }

.container .custom-jumbotron,
.container-fluid .custom-jumbotron {
    border-radius: 3px;
}

.custom-jumbotron .container {
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .custom-jumbotron {
        padding: 10px 0;
    }

    .container .custom-jumbotron,
    .container-fluid .custom-jumbotron {
        padding-right: 40px;
        padding-left: 40px;
    }

    .custom-jumbotron h1,
    .custom-jumbotron .h1 {
        font-size: 63px;
    }
}

/*Custom Footer Bottom Margin*/
.mbl, .mvl, .mal {
    margin-bottom: 0 !important;
}

.pbl, .pvl, .pal {
    padding-bottom: 0 !important;
}

/*Custom Input Transparent Background*/
input.transparent-input {
    background-color: rgba(255, 255, 255, .7);
    !important;
}

/*Custom Link Color Where Needed*/
.custom-text-white {
    color: rgba(255, 255, 255, .7) !important;
}

a.custom-a-white:link {
    color: rgba(255, 255, 255, .7) !important;
}

a.custom-a-white:hover {
    color: #337ab7 !important;
}

/*Custom Button Only Text*/
.custom-btn-clear {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

/*Reseting some margin values from the Nav bar to the content*/
.navbar {
    /*margin-bottom:0 !important;*/
    border-radius: 0;
}

/*Custom Transparent Container*/
.container-white {
    padding: 2% 2% 0 2%;
    background: rgba(255, 255, 255, 0.80);
    border: 2px none;
    margin-bottom: 2%;
}

.container-black {
    padding: 2% 2% 2% 2%;
    background: rgba(0, 0, 0, 0.8);
    border: 2px none;
    margin-bottom: 2%;
}

.custom-grid {
    margin: 0 0 5px 0;
    height: 360px;
}

.custom-grid-lighter:hover {
    background: rgba(212, 207, 207, 0.70);
}

.custom-grid-darker:hover {
    background: rgba(225, 222, 222, 0.80);
}

#bg-blurry {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: #FFF;
    background-size: cover !important;
}

/*Custom speach bubble*/
.bubble {
    position: relative;
    width: 100%;
    height: 20%;
    padding: 0;
    background: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: #4d036d solid 1px;
}

    .bubble:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 14px 14px 14px 0;
        border-color: transparent #FFFFFF;
        display: block;
        width: 0;
        z-index: 1;
        margin-top: -14px;
        left: -14px;
        top: 30%;
    }

    .bubble:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 14px 14px 14px 0;
        border-color: transparent #4d036d;
        display: block;
        width: 0;
        z-index: 0;
        margin-top: -14px;
        left: -15px;
        top: 30%;
    }

    .bubble textarea {
        height: 100%;
        width: 100%;
        display: block;
        border: none;
        resize: none;
    }

body, html {
    height: 100%;
}

.container {
    min-height: 100%;
}

.footer {
    height: 40px;
    margin-top: -40px;
}
