@using Cloud_Vibe.Utilities
@model ICollection<Cloud_Vibe.Models.ViewModels.CommentViewModel>

@if (Model.Count == 0)
{
    <div class="row-centered">
        <div class="col-centered">
            <h3>no comments yet...</h3>
        </div>
    </div>
}
@foreach (var comment in Model)
{
    var avatar = comment.User.Avatar;
    var img = FilesByteUtility.ByteArrayToImageSrcString(avatar);
    <div class="row">
        <!--Left Info Panel-->
        <div class="col-md-3">

            <!--Picture Container-->
            <div class="row-centered">
                <div class="col-centered">
                    <img src="@img" class="thumbnail img-rounded img-responsive" style="height:100px; width:100px; margin-right:10px" />
                </div>
            </div>

            <!--Uploaded Info Container-->
            <div class="row">

                <!--Username of the user-->
                <div class="row-centered">
                    <div class="col-centered">
                        <h4>@comment.User.UserName</h4>
                    </div>
                </div>

                <!--Timeago-->
                <div class="row-centered">
                    <div class="col-centered">
                        <p style="font-size:smaller">Posted @Html.Timeago(comment.SharedOn)</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Center Main Panel-->
        <div class="col-md-9" >
            <p>@comment.Text</p>
        </div>

        <!--Right Buttons Panel-->
        <div class="col-md-1">

        </div>
    </div>
}

