@using Microsoft.AspNet.Identity
@using Cloud_Vibe.Data

<ul class="nav navbar-nav">
    <li class="nav-btn">@Html.ActionLink("Home", "Index", "User", new { area = "" }, null)</li>
    <li class="nav-btn">@Html.ActionLink("Songs", "AllSongs", "Song", new { area = "" }, null)</li>
    <li class="nav-btn">@Html.ActionLink("Albums", "AllAlbums", "Album", new { area = "" }, null)</li>

    @*@using (Html.BeginForm("Search", "User", FormMethod.Get, new { @class = "navbar-form navbar-left", role = "search" }))
    {
        <li class="form-group">
            <div class="input-group">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { placeholder = "Search", @class = "form-control", type = "search" })
                <span class="input-group-btn">
                    <button type="submit" class="btn"><span class="fui-search"></span></button>
                </span>
            </div>
        </li>
    }*@
</ul>