
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row row-centered">
        <div class="col-centered">
            <ul class="nav nav-pills">
                <li>@Html.ActionLink("Albums","All","Album")</li>
                <li>@Html.ActionLink("Songs", "All", "Song")</li>
                <li><a href="#fakelink">Bestselling</a></li>
            </ul>
        </div>
    </div>
</div>

