@using Cloud_Vibe.Models
@model LoginViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="color:ghostwhite">
    <!--Headings-->
    <div id="title-index" class="row-centered">
        <h4 id="logo">Cloud <span class="fui-spotify"></span> Vibe</h4>
        <h2 id="slogan">... join ... listen ... Vibe ...</h2>
        <br />
    </div>

    <!--Loading Spinner-->
    <div class="row-centered" id="loader">
        <div id="floatingCirclesG" class="col-centered">
            <div class="f_circleG" id="frotateG_01">
            </div>
            <div class="f_circleG" id="frotateG_02">
            </div>
            <div class="f_circleG" id="frotateG_03">
            </div>
            <div class="f_circleG" id="frotateG_04">
            </div>
            <div class="f_circleG" id="frotateG_05">
            </div>
            <div class="f_circleG" id="frotateG_06">
            </div>
            <div class="f_circleG" id="frotateG_07">
            </div>
            <div class="f_circleG" id="frotateG_08">
            </div>
        </div>
    </div>

    <!--Content Box-->
    <div id="logging-container" class="row-centered">
    </div>
</div>

@section Scripts {
    @*Referenced Intellisense for this view(this is a work around which fix the problem with the intellisense in Razor)*@
    @if (false)
    {
        <script src="~/Scripts/jquery-2.1.0-vsdoc.js"></script>}

    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('body').css("background", "url(../../Content/images/album-wallpaper1.jpg) no-repeat center center");
        $('body').css("background-size", "cover");

        $('document').ready(function () {
            $("#title-index").hide();
            $("#title-index").show("slow");

            @{
                var model = TempData["RegisterViewModel"];

                if ( model != null)
                {
                    TempData["RegViewModel"] = model;
                    <text>
                        loadRegisterContainer();
                    </text>
                }
                else
                {
                    <text>
                        loadIndexContainer();
                    </text>
                }
            }
        })


        var loadRegisterContainer = function loadRegisterContainer() {
            $("#logging-container").hide("slow");

            $.ajax({
                url: "@Url.Action("Register", "Account")",
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html',
                beforeSend: function () {
                    $('#loader').show();
                },
                complete: function () {
                    $('#loader').hide();
                }
            })
            .success(function (result) {
                $('#slogan').hide("slow");
                $("#logging-container").html(result);
                $("#logging-container").show("slow");
            })
            .error(function (status) {
                console.log(status);
            })
        }

        var loadIndexContainer = function loadIndexContainer() {
            $("#logging-container").hide("slow");

            $.ajax({
                url: "@Url.Action("Login", "Account")",
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html',
                beforeSend: function () {
                    $('#loader').show();
                },
                complete: function () {
                    $('#loader').hide();
                }
            })
            .success(function (result) {
                $('#slogan').show("slow");
                $("#logging-container").html(result);
                $("#logging-container").show("slow");
            })
            .error(function (status) {
                console.log(status);
            })
        }

        var loadExternalConfirmationContainer = function loadExternalConfirmationContainer() {
            $("#logging-container").hide("slow");
            $('#slogan').hide("slow");
            $('#loader').show();
        }

        var prepareForLogin = function prepareForLogin() {
            $("#logging-container").hide("slow");
            $('#slogan').hide("slow");
            $('#title-index').animate({
                'marginLeft': "-=80%" //moves left
            }, 500);
            $('#loader').show();
        }
    </script>
}
