@using Cloud_Vibe.Areas.Administration.ViewModels.Album
@{
    const string ControllerName = "Album";
}

<div class="container">
    <div class="row row-centered">
        <div class="col-centered">
            <ul class="nav nav-pills">
                <li class="active">@Html.ActionLink("Albums", "All", "Album")</li>
                <li>@Html.ActionLink("Songs", "All", "Song")</li>
                <li>@Html.ActionLink("Comments", "All", "Comment")</li>
            </ul>
        </div>
    </div>
</div>

@(Html.Kendo()
        .Grid<AlbumViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            //columns.Bound(pr => pr.ID);
            columns.Bound(pr => pr.Title).Width(250);
            columns.Bound(pr => pr.Artist).Width(350);
            columns.Bound(pr => pr.Year).Width(250);
            columns.Bound(pr => pr.SharedOn).ClientTemplate("#=kendo.toString(SharedOn, 'dd/MM/yyyy')#");
            columns.Bound(pr => pr.UserShared);
            columns.Bound(pr => pr.Views).Width(50);
            columns.Bound(pr => pr.Downloads).Width(50);
            columns.Command(cmd => { cmd.Edit(); cmd.Destroy(); }).Width(600);
        })
        .DataSource(data => data
                .Ajax()
                .Model(m =>
                {
                    m.Id(p => p.ID);
                    m.Field(p => p.Downloads);
                    m.Field(p => p.Views);
                    m.Field(p => p.UserShared).DefaultValue(User.Identity.Name);
                })
                .Events(events => events.Error("onError"))
                .Read(read => read.Action("Read", ControllerName))
                    .Create(create => create.Action("Create", ControllerName))
                .Update(update => update.Action("Update", ControllerName))
                .Destroy(destroy => destroy.Action("Destroy", ControllerName))
        )
        .Pageable(pager => pager.Refresh(true))
        .Sortable()
        .Filterable()
        .Groupable()
        .Selectable()
        //.ToolBar(toolbar => { toolbar.Create(); })
        .Editable(edit => edit.Mode(GridEditMode.PopUp).Window(w => w.Title("Edit Album").Name("editWindow").HtmlAttributes(new { style = "width:1000px;" }))
        )


)

<script>


    function onError(e, status) {
        alert("A server error has occurred!");
    }

</script>

