@using Cloud_Vibe.Data
@using Cloud_Vibe.Utilities
@model List<Cloud_Vibe.Data.Models.Album>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-5 custom-jumbotron">
            <!--Left Column - Latest Song -->
            <h4>Latest Songs</h4>
            <hr />
            <div class="row">
                @Html.Partial("_IndexLatestSongs", ViewData["latestSongs"])
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1 custom-jumbotron">
            <!--Left Column - Latest Albums -->
            <h4>Latest Albums</h4>
            <hr />
            <div class="row">
                @Html.Partial("_IndexLatestAlbums", ViewData["latestAlbums"])
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @*Referenced Intellisense for this view(this is a work around which fix the problem with the intellisense in Razor)*@
    @if (false)
    {
        <script src="~/Scripts/jquery-2.1.0-vsdoc.js"></script>
    }
    <script>
        $('document').ready(function () {
            @if (ViewBag.Title == "Index" && TempData["JustLoggedIn"] != null)
            {
                <text>$('#nav-header').show({ duration: 700 });</text>
            }
        });
    </script>
}
